h1 {
font-family:'Sorts Mill Goudy', cursive ;
text-align: center;
padding-top: 80px;

}

.container .links a{
	color: grey;
	font-family: 'Carme', cursive;
	font-size: 14px
}

.container .links a:hover{
	color: #d1d1d1;
	text-decoration: none;
}

/*img {
align-content: center;
padding-top: 200px;

}*/

.padding{
	padding-top: 30px;
	padding-bottom: 30px;
}

.hi {

	padding-top: 70px
}

.socials {

	align-content: center;
}