h1 {
font-family:'Sorts Mill Goudy', cursive ;
text-align: center;
padding-top: 80px;

}


p{
	font-family: Gothic A1;
}
.container .links a{
	color: grey;
	font-family: 'Carme', cursive;
	font-size: 14px
}

.container .links a:hover{
	color: #d1d1d1;
	text-decoration: none;
}

/*img {
align-content: center;
padding-top: 200px;

}*/

.padding{
	padding-top: 30px;
	padding-bottom: 30px;
}

.hi {

	padding-top: 70px;
}

.socials{
	text-align: center;
	width: 100%;
	padding-top: 10px;
}
.socials a i {

	color: black;
}

.socials a i:hover {

	color: #d1d1d1;
}

.socials #youtube i:hover {

	color: red;
}

.container .links .active{
	color: #d1d1d1;
}

.bakery {

	padding-top: 70px
}

#site {

	color: black; 

}

#site:hover {

	color: red; 
	
}




